.app-container {
    width: 100%;
    max-width: 400px;
    contain: layout;
    margin-inline: auto;
    padding: var(--padding-2xl);
    margin-block: var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--primary);
    box-shadow: var(--box-shadow-lg);
    overflow-x: hidden;
}

.question-container,
.options {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.question-container p {
    color: var(--secondary-darker);
    font-size: var(--font-size-sm);
}

.options button {
    border: var(--border-default);
    text-align: start;
}

.options button.wrong {
    border-color: var(--wrong);
}

.options button.correct {
    border-color: var(--correct);
}

button.next {
    background: black;
    color: white;
    margin-top: 20vh;
}

button.next:disabled {
    opacity: 0.1;
}

.question-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.score-container {
    font-size: 24px;
    font-weight: bold;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--primary);
}

.progress {
    height: 100%;
    width: 0%;
    transition: width 0.2s ease-in-out;
    background: var(--secondary-darker);
}