@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* colors */
    --primary : white;
    --secondary : #cdb9fc;
    --secondary-darker : #8727cc;
    --correct : #32bf79;
    --wrong : #ff3e3e ;

    /* font */
    --font-size : 1rem;
    --font-size-sm : calc(var(--font-size) - 2px);

    /* sizes */
    --padding : 1rem;
    --padding-md : calc(var(--padding) + 4px);
    --padding-lg : calc(var(--padding) + 8px);
    --padding-xl : calc(var(--padding) + 12px);
    --padding-2xl : calc(var(--padding) * 2);

    /* shadows */
    --box-shadow-sm: 0px 2px 4px rgba(0,0,0,0.1);
    --box-shadow-lg: 0px 8px 24px rgba(0,0,0,0.1);

    /* border*/
    --border-default : 2px solid rgba(0, 0, 0, 0.2);
    --border-radius : 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background : var(--secondary);
    font-family: "Poppins", sans-serif;
}

button {    
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    background : transparent;
    border-radius: var(--border-radius);
    transition: all 0.2s ease-in-out;
    color : black;
}

button:disabled {
    cursor: not-allowed;
}

button:hover {
    box-shadow: var(--box-shadow-sm);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height : 100vh;
}